@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui;
}

@theme {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none; 
  }
}


/* ul{
    list-style: none;
} */
