@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui;
}

@theme {
  --font-sans: 'Space Grotesk', ui-sans-serif, system-ui;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


#linktree {
    scroll-snap-type: x mandatory;
}

.link-item {
    transform: scale(0.9);
    opacity: 0.7;
}

.link-item:has(:hover),
.link-item:hover {
    transform: scale(1);
    opacity: 1;
}




/* ul{
    list-style: none;
} */
